<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug builds only: a plain platform text field for the connected tests to type into. -->
        <activity
            android:name=".debug.PlainFieldActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
    </application>

</manifest>
